- page_title "合并请求"

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'

- if group_merge_requests_count(state: 'all').zero?
  = render 'shared/empty_states/merge_requests', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :merge_requests
    - if current_user
      .nav-controls
        = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新建合并请求",  type: :merge_requests

  = render 'shared/issuable/search_bar', type: :merge_requests

  = render 'shared/merge_requests'
